################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/Spaces-Finder/.vs/Spaces-Finder
